* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    color: purple;
}

#site_header{
    background-color: white;
    border: 3px solid purple;
    border-radius: 20px;
    padding: 1%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1.5%;
}

nav>ul>li{
    display: inline;
}

nav>ul>li>a:hover{
    background-color: purple;
    color: white;
    font-weight: bold;
}

nav{
    text-align: center;
    margin-bottom: 1%;
}

.article_header{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

aside{
    float: left;
    width: 20%;
    color: purple;
    padding-right: 2%;
    padding-top: 2.5%;
}

section{
    float: left;
    width: 80%;
}

footer{
    clear: both;
    text-align: center;
    font-size: 0.80em;
    color:purple;
    padding-top: 1%;
}